body {
  background: linear-gradient(to bottom right, #abffd2, #a0efff);
  margin: 0;
}
.dashboard-container {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 24px;
  height: 100vh;
  width: 100vw;
}
.dashboard-title {
  font-weight: 900;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.accounts-column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}
.signout-footer {
  align-self: flex-start;
  margin-bottom: 24px;
}
.signout-button {
  padding: 12px 24px;
}
