body {
	background: linear-gradient(to bottom right, #abffd2, #a0efff);
	margin: 0;
}

.content-container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: space-between;
	align-items: flex-start;
}

.dashboard-container {
	font-family: monospace;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100vw;
}

.dashboard-title h1 {
	font-weight: 900;
	font-size: 56px;
	text-align: center;
	width: 100vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
}

.trade-form {
	display: flex;
	height: 50vh;
	text-align: flex-start;
	text-justify: flex-start;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: space-evenly;
}

.right-side-container {
	display: flex;
	flex-direction: column;
	justify-self: flex-end;
	justify-content: flex-start;
	height: 75vh;
	width: 25vw;
	border: 2px solid #333;
	border-radius: 12px;
	padding: 12px;
	margin-right: 240px;
}

.trade-label {
	margin: 12px;
	font-size: 24px;
}

.submit-trade-button {
	justify-self: end;
	align-self: center;
}

.trade-history-list {}

.open-trade-panel {
	display: flex;
	height: 70vh;
	width: 25vw;
	text-align: flex-start;
	text-justify: center;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	justify-self: center;
	align-self: center;
}

.trade-history-title {
	font-size: 28px;
	text-decoration: underline;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.trade-details-title {
	font-size: 28px;
	justify-self: flex-start;
	align-self: center;
	text-decoration: underline;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.accounts-column {
	display: flex;
	flex-direction: column;
	height: 85vh;
	margin-left: 24px;
}

.sort-by-container {
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: center;
	justify-content: space-evenly;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sort-by-dropdown {
	padding: 2px;
	justify-content: end;
	align-content: end;
}

.trade-history-column {
	margin-top: 8px;
	width: 25vw;
	height: 50vh;
	padding: 12px;
	border: 2px solid #333;
	border-radius: 10px;
	background-color: #e6fff1;
	overflow-y: scroll;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
	font-size: 12px;
}

.signout-button {
	justify-self: flex-end;
	align-self: flex-start;
	font-size: 12px;
	padding: 12px 24px;
	margin-top: 64px;
}
